@font-face {
	font-family: GameFont;
	src: url("https://cdn.jsdelivr.net/gh/UlyssesZh/rmmv_materials@master/fonts/mplus-1m-regular.ttf");
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
	opacity: 0;
	pointer-events: none;
	width: 5px;
}
